#infopratiques {
  border: solid 10px black;
  margin: 50px;
  padding: 30px;
  background-color: lightgrey;
}
#inscriptions {
  border: solid 10px black;
  padding: 30px;
  background-color: yellow;
}
#prets {
  border: solid 10px black;
  margin: 50px;
  background-color: pink;
}
